@model IEnumerable<CRUDInventoryQuick.Models.PRECIO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create"  class="btn btn-sm btn-info"><i class="bi bi-bookmark-plus"></i>Agregar Precio</a>
</p>
<table id="Tablas" class="table table-hover table-bordered" style="width:100%">
    <thead class="table-primary">

        <tr>
            <th width="30">
                Id
            </th>
            <th>
                Fecha Ingreso
            </th>
            <th width="110">
                Precio Compra
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th width="110">
                Precio Inicial
            </th>
            <th width="110">
               Precio Final
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td align="right" width="110">
                <a asp-action="Edit" asp-route-id="@item.PrecioId" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a> 
                <a asp-action="Details" asp-route-id="@item.PrecioId"  class="btn btn-sm btn-success"><i class="bi bi-bar-chart"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.PrecioId"  class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
